body {
    font-family: "Montserrat", serif;
    margin: 0;
}

.main-page {
    width: 100;
    background: linear-gradient(271deg, #a5deff 1.14%, #fcfefe 100%);
}

.main-page-container {
    border-radius: 40px;
    background: #fff;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    position: relative;
}

.main-page-hello-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 60px;
}

.main-page-title {
    font-weight: 600;
    font-size: 62px;
    line-height: 116%;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 24px;
}

.main-page-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 32px;
}

.main-page-btn {
    border-radius: 8px;
    padding: 12px 24px;
    background: #ff6b0a;
    color: #fff;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}

.goit-logo {
    position: absolute;
    top: 32px;
    left: 0;
}

.facts-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #1b1d1f;
    margin-bottom: 32px;
    margin-top: 0;
}

.facts {
    padding-top: 48px;
    padding-bottom: 100px;
    text-align: center;
}

.facts-trezyb {
    margin-bottom: 24px;
}

.facts-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1f;
    width: 772px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 24px;
}

.facts-items {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 32px;
}

.facts-items-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 0;
}

.facts-items{
    width: calc((100% / 3) - (24px * 2) / 3);
}